$page_bg_grey: #494949;
$dark_grey: #272727;
$light_grey: #e3e3e3;
$orange: #f2622a;
$yellow: #f9d869;
$red: #ff1b1c;
$dark_red: #51291E;
$light_red: #E83151;

$shadow: #040404;
$primary_bg: $dark_grey;
$primary_color: $light_grey;
$secondary_bg: $page_bg_grey;
$secondary_color: $light_grey;
$accent_color: $light_grey;
$accent: $light_red;
$accent_light: $dark_red;
$accent_error: $red;
$toolbar_height: 3rem;

$microns-font-file: "./font/microns";
@import "../../node_modules/microns/fonts/microns.scss";
@import "./classes.scss";
@import "./button.scss";
@import "./animation.scss";

@font-face {
  font-family: comfortaa;
  src: url("./font/comfortaa_wght.ttf");
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

input {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

html {
  width: 100%;
  height: 100%;
  background-color: $page_bg_grey;
  font-family: comfortaa, Helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-shadow: 0 1px 1px $primary_bg;
  color: $primary_color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    // prevent bottom black bar while scrolling
    padding-bottom: 200px;
    background-color: $page_bg_grey;
    background-image: url("./texture/noise.jpg");
    background-size: 80px;
    background-repeat: repeat;
  }

  // tv/big-screen mode
  @media screen and (min-width: 1920px) and (min-height: 1080px) {
    font-size: 26px;
  }
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

hr {
  border: 0;
  border-top: 1px solid darken($primary_color, 50%);
  height: 0;
  margin: 0.25rem 0;
}

p {
  margin: 0;
}


