.box-shadow-1 {
  box-shadow: 0 0.0625rem 0.125rem $shadow;
}
.box-shadow-2 {
  box-shadow: 0 0.125rem 0.25rem $shadow;
}
.box-shadow-3 {
  box-shadow: 0 0.25rem 0.5rem $shadow;
}

.primary-bg {
  background-color: $primary_bg;
}
.primary-bg-sheet {
  background-color: rgba($primary_bg, 0.8);
}
.primary-color {
  color: $primary_color;
}
.secondary-bg {
  background-color: $secondary_bg;
}
.secondary-color {
  color: $secondary_color;
}
.accent-color {
  color: $accent_color;
}
.accent-bg {
  background-color: $accent;
}
.accent-light-bg {
  background-color: $accent_light;
}
.error-bg {
  background-color: $accent_error;
}
.error-color {
  color: $accent_error;
}

.toolbar-height {
  height: $toolbar_height;
}
.toolbar-top {
  top: $toolbar_height;
}
.toolbar-margin-top {
  margin-top: $toolbar_height;
}

.full {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  gap: 0.5rem;
  justify-content: space-between;
}

@for $i from 1 through 6 {
  .grid-c#{$i} {
    grid-column: $i;
  }
  .grid-r#{$i} {
    grid-row: $i;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  &-start {
    display: flex;
    justify-content: flex-start;
  }
  &-end {
    display: flex;
    justify-content: flex-end;
  }
}
